html, body {
    height: 100%;
    overflow: hidden; /* supaya tidak bisa scroll */
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto 15px auto; /* tengah + jarak bawah */
    margin-bottom: 1px;
    width: 200px; /* sesuaikan ukuran */
    height: auto;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 17px;
    margin-top: 5px;
    font-size: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.input-group input,
.input-group select {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #4facfe;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: #00c6ff;
}

.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #4facfe;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}